apiVersion: v1
kind: Service
metadata:
  name: boyfanz-service
  namespace: fanz-ecosystem
  labels:
    app: boyfanz
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
    name: http
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: websocket
  selector:
    app: boyfanz
