apiVersion: v1
kind: Service
metadata:
  name: pupfanz-service
  namespace: fanz-ecosystem
  labels:
    app: pupfanz
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: pupfanz
